header {
  background-color: #116f6d;
  width: 100%;
  height: var(--header-height);
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 99;
}

ul {
  display: flex;
  justify-content: flex-end;
  li {
    display: inline-block;
    font-size: 18px;
    line-height: 64px;
    width: 120px;
    text-align: center;

    &.active {
      background-color: #ffffff33;
    }
  }
}
